.d-flex.mb-3
  .mr-auto
    %h2.display-4
      Subject:
      = @message.subject
    %stong
      From:
      = @message.from
  .item
    = button_to message_path(@message), method: :delete, class: 'dashhead-toolbar-item btn btn-outline-danger' do
      %i.fas.fa-trash-alt
      Delete Message