%li.list-group-item.message
	= link_to message do
		.d-flex.justify-content-center.align-items-center
			.mr-auto.p-2
				= message.subject
			.p2.mr-auto
				= message.from
			.p1
				= message.created_at.strftime('%H:%M %d/%m/%Y')