%li.list-group-item
  .d-flex.justify-content-center.align-items-center
    .mr-auto.p-2
      = link_to message.subject, message
    .p2
      = message.from
    .p1
      = message.created_at.strftime('%H:%M %d/%m')