.d-flex.mb-3
  .item
    %h2.display-4="Profile: #{@profile.name}"
    %strong="[#{@profile.display_email_address}]"
  .item.ml-auto
    .d-flex
      .item.mr-3
        %button.btn.btn.btn-outline-primary.copy-button{data: {toggle: 'tooltip', placement: 'top', clipboard: { text: @profile.email_address}}}
          %i.fas.fa-copy
          Copy Address
      .item 
        = button_to profile_path(@profile), method: :delete, class: 'btn btn-outline-danger', data: {confirm: 'Are you sure you want to delete this profile and all associated messages? You will not be able to reclaim this address in the future.'} do
          %i.fas.fa-trash-alt
          Delete profile
