%li.list-group-item.profile
	= link_to profile do
		.d-flex.justify-content-center.align-items-center
			.mr-auto.p-2
				= profile.name
			.p-2
				%input.form-control-sm{id: "profile-email-#{profile.id}", value: profile.email_address}
				%button.btn.btn-sm.btn-info{data: {clipboard: {target: "#profile-email-#{profile.id}" } }}
					Copy