%li.list-group-item.profile
	.d-flex.justify-content-center.align-items-center
		= link_to profile do
			.mr-auto.p-2
				%strong= profile.name
		.p-2.ml-auto
			%button.btn.btn.btn-outline-info.copy-button{data: {toggle: 'tooltip', placement: 'top', clipboard: { text: profile.email_address}}}
				Copy address

				