#header-panel.container-fluid
  %nav.mt-3{aria: {label: 'breadcrumb'}}
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to 'Dashboard', root_path, class: 'text-info'
      %li.breadcrumb-item.active{aria: {current: 'page'}}
        = @profile.name

  = render partial: 'dashhead'

#page.container-fluid.grey-panel.p-5{style: "height: 100%", data: {id: @profile.id}}
  .row
    .col-sm-12
      %h5 Recent Messages
      %ul#messages-list.list-group.mb-5{data: {id: current_user.id}}
        - unless @profile.messages.empty?
          - @profile.messages.each do |m|
            = render m
        - else
          %li#welcome.list-group-item
            %strong Your inbox is empty