= content_for :head do
  :css
    body:before {
      background-image: linear-gradient(to top, rgba(31,31,31,0.851), rgba(31,31,31,0.851)), url('http://fc-carrd-assets.s3-eu-west-2.amazonaws.com/images/data_bg.jpg');
    }
  %title Data Audit
  %meta{:content => "Do you really know the data you hold?", :name => "description"}/
= content_for :body do
  %body.is-loading
    #wrapper
      #main
        .inner
          %h1#text02 Do you really know the data you hold?
          %hr#divider02/
          %p#text01 Understanding and managing the data you hold in your business is now a legal requirement, but it can also a way to unlock huge opportunities.
          %p#text01 Get in touch to find out how we can help.
          %form#form01{:action => "/submit", :enctype => "multipart/form-data", :method => "post"}
            = hidden_field_tag :authenticity_token, form_authenticity_token
            .inner
              .field
                %input#form01-email-address{:maxlength => "128", :name => "email-address", :placeholder => "Email Address", :required => "", :type => "text"}/
              .actions
                %button{:type => "submit"} Submit
            %input{:name => "id", :type => "hidden", :value => "form01"}/
            %input{:name => "page", :type => "hidden", :value => "data-interest"}/
          #image01
            %a.image{href: '/'}
              %img{:alt => "", :src => "https://fc-carrd-assets.s3-eu-west-2.amazonaws.com/images/gdpr_image01.svg"}/
    %script{:src => "https://fc-carrd-assets.s3-eu-west-2.amazonaws.com/gdpr_main.js"}
