= content_for :head do
  %title Automated GDPR Requests
  %meta{:content => "Automated GDPR Requests", :name => "description"}/
= content_for :body do
  %body.is-loading
    #wrapper
      #main
        .inner
          %h1#text02 Automated GDPR Requests for Gmail
          %hr#divider02/
          %p#text01 Connect to your existing Gmail account, discover who holds your data, and then automatically ask for it to be deleted.
          %form#form01{:action => "/submit", :enctype => "multipart/form-data", :method => "post"}
            = hidden_field_tag :authenticity_token, form_authenticity_token
            .inner
              .field
                %input#form01-email-address{:maxlength => "128", :name => "email-address", :placeholder => "Email Address", :required => "", :type => "text"}/
              .actions
                %button{:type => "submit"} Submit
            %input{:name => "id", :type => "hidden", :value => "form01"}/
            %input{:name => "page", :type => "hidden", :value => "gdpr-interest"}/
          #image01
            %a.image{href: '/'}
              %img{:alt => "", :src => "https://fc-carrd-assets.s3-eu-west-2.amazonaws.com/images/gdpr_image01.svg"}/
    %script{:src => "https://fc-carrd-assets.s3-eu-west-2.amazonaws.com/gdpr_main.js"}
