$('#digest-modal').modal('hide');
$.growl.notice({ title: "Updated!", message: "Account digest notifications successfully updated!" })
$("#digest-modal").replaceWith("#{escape_javascript (render partial: 'application/digest_modal')}");
