%nav.navbar.navbar-transparent.navbar-padded.navbar-expand-md.navbar-fixed-top.app-navbar
  %button.navbar-toggler{type: 'button', data: {toggle: 'collapse', target: '#navbarSupportedContent'}}
    %span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    .d-block.d-sm-none
      %ul.nav.nav-bordered.nav-stacked.flex-column{style: 'background-color: #fff;'}
        %li.nav-item.py-3
          = link_to 'Sign up', new_user_registration_path, class: 'nav-link'
        %li.nav-item.py-3
          = link_to 'Sign in', new_user_session_path, class: 'nav-link'
    
    .d-none.d-sm-block  
      %ul.navbar-nav.ml-md-auto
        %li.nav-item.mx-3
          = link_to 'Sign up', new_user_registration_path, class: 'nav-link'
        %li.nav-item.mx-3
          = link_to 'Sign in', new_user_session_path, class: 'nav-link'
      