#upgrade-modal.modal{:role => "dialog", :tabindex => "-1"}
  = form_tag charges_path do
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %h5.modal-title Upgrade your Fair Custodian account
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          %article
            - if flash[:error].present?
              #error_explantation
                %p=flash[:error]       
            %p= "Upgrade your account with up to #{(ENV['SUBSCRIPTION_MAX_PROFILE_COUNT'].to_i - ENV['SUBSCRIPTION_MIN_PROFILE_COUNT'].to_i)} more custom addresses for £3.00/month"
            %script.stripe-button{src: "https://checkout.stripe.com/checkout.js", data: {key: Rails.configuration.stripe[:publishable_key], description: "Upgrade to a paid subscription", amount: "300", locale: 'auto', name: 'FairCustodian', currency: 'GBP', email: current_user.email, label: "Upgrade FairCustodian"}} Upgrade FairCustodian
        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
