.row
  .col-md-12.text-center
    #welcome-panel.m-3
      .card
        .card-header
          %h2
            How To Use Your Profiles
        .card-body
          A basic Fair Custodian account entitles you to some free active profiles. Each profile has a unique, randomly generated email address to help protect your identity online when giving out your personal information. Group similar sites in each profile, or use an individiual profile per site you sign up to. Get creative! You can upgrade your account for a small monthly fee to get a bunch of additional profiles and you can share your referral link to bag more additional profiles for you and your friends. 
      .row.mt-3
        .col-sm-12.col-md-4
          .card.card-default
            .card-header
              %h4 1. Set-up your profile
            .card-body
              .i.fas.fa-edit.fa-5x.my-3.text-primary
              %p Select and rename a profile for the services you're going to sign up for by clicking the edit icon on the profile panel.
          
          
        .col-sm-12.col-md-4
          .card
            .card-header
              %h4 2. Copy your address
            .card-body
              .i.fas.fa-copy.fa-5x.my-3.text-primary
              %p Copy the email address for that profile by clicking the icon on the profile panel, or from the profile page itself.
        .col-sm-12.col-md-4
          .card
            .card-header
              %h4 3. Access your messages
            .card-body
              .i.fas.fa-inbox.fa-5x.my-3.text-primary
              %p Emails sent to this address will be stored within this profile. Click the inbox icon to access mails for individual inboxes. 