.container-fluid.text-center
  .row.my-5
    .col-sm-10.offset-sm-1
      .row
        .col-md-12
          %h2 Welcome to Fair Custodian
          %p You are seeing this because you have no messages yet.
        .row
          .col-sm-4.px-3.mb-3
            = image_tag(asset_url('iconic/basket.svg'), width: '25%', class: 'my-5')
            %h3 Keep your personal email personal
            %p When you want to sign up for a new service, whether it's a new shopping website or even a newsletter, don't give them your personal email. Keep that for the personal stuff.
          .col-sm-4.px-3.mb-3
            = image_tag(asset_url('iconic/envelope-open.svg'), width: '25%', class: 'my-5')
            %h3 Use a Fair Custodian address
            %p
              Instead, go to the Fair Custodian dashboard (this screen) and either create a new profile if you have a premium account, or use one of your free profiles. You can rename
              %i.fas.fa-cog
              your profiles to anything you like.

          .col-sm-4.px-3.mb-3
            = image_tag(asset_url('iconic/lock-locked.svg'), width: '25%', class: 'my-5')
            %h3 Categorise your email in your way
            %p
              Copy
              %i.fas.fa-copy
              the email address of the profile you want and use that email to sign up to the service. All emails that come from that service will be available on your FairCustodian dashboard or on the specific profile page.
