.container-fluid
  .row
    .col-md-12
      %h3.text-center.my-5
        How To Use Your Profiles
      %p
        Your profile list initially contains
        %strong three profiles for a free account.
        Each profile has a
        %strong unique, randomly generated email address
        that you can use to help protect your identity online.
      %p
        %strong When you are about to sign up for a new service online,
        don't provide your personal email, and follow the steps below:
      %ol.list-grouped.list-unstyled
        %li.list-item.my-5
          .i.fas.fa-list-ol.fa-2x.mr-3
          %strong Choose the profile
          you will use for the service your are signing up for.
        %li.list-item.my-5
          .i.fas.fa-cog.fa-2x.mr-3
          %strong Reanme the profile
          to something relevant using the icon on the dashboard
        %li.list-item.my-5
          .i.fas.fa-copy.fa-2x.mr-3
          %strong Copy the email address
          using the icon on the dashboard or from the profile page itself.
        %li.list-item.my-5
          .i.fas.fa-sign-in-alt.fa-2x.mr-3
          %strong Use this email
          to sign up to new services, newsletters or anything else you need.
        %li.list-item.my-5
          .i.fas.fa-dollar-sign.fa-2x.mr-3
          Premium accounts are able to
          %strong create new profiles
          from the dashboard and
          %strong delete profiles
          from the profile page.