.row
  .col-md-11.offset-md-1.text-center
    %h2.mb-3
      How To Use Your Profiles
    %p.my-3
      A Fair Custodian account entitles you to 3 free profiles.
    %p.my-3
      Each profile has a unique, randomly generated email address to help protect your identity online.
    %h3.text-primary.mt-3.mb-5 Use Fair Custodian email addresses when you sign up for any online service, following the steps below:

    .row.mt-5
      .col-sm-12.col-md-4
        .hr-divider
          .hr-divider-content.hr.divider-heading
            Set-up your profile
        .i.fas.fa-edit.fa-7x.my-3.text-info
        %p Select and rename a profile for the services you're going to sign up for by clicking the edit icon on the profile panel.
      .col-sm-12.col-md-4
        .hr-divider
          .hr-divider-content.hr.divider-heading
            Copy your address
        .i.fas.fa-copy.fa-7x.my-3.text-info
        %p Copy the email address for that profile by clicking the icon on the profile panel, or from the profile page itself.
      .col-sm-12.col-md-4
        .hr-divider
          .hr-divider-content.hr.divider-heading
            Access your messages
        .i.fas.fa-inbox.fa-7x.my-3.text-info
        %p Emails sent to this address will be stored within this profile. Click the profile name or inbox icon to access mails for individual inboxes. 