<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Black Hole by Fair Custodian </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta name="description" content="Black Hole product idea #2" />
    <link href="https://fonts.googleapis.com/css?family=Questrial:400,400italic" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag 'carrd.css' %>
    <noscript><link rel="stylesheet" href="assets/noscript.css" /></noscript>
  </head>
  <body class="is-loading">
    <div id="wrapper">
      <div id="main">
        <div class="inner">
          <h1 id="text02">Black Hole</h1>
          <hr id="divider02">
          <p id="text01">Drowning in emails you&#39;re never going to read? Redirect your junk mail with Black Hole by Fair Custodian. Click the button below to sign up.</p>
          <ul id="buttons01" class="buttons">
            <li>
              <a href="https://beta.faircustodian.com/users/sign_up" class="button n01">Sign up to Black Hole</a>
            </li>
          </ul>
          <div id="image01" class="image">
            <img src="<%= asset_path 'carrd_01.svg' %>" alt="" />
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'carrd.js' %>
  </body>
</html>