%h1 Dashboard
%hr

.row
  #dashboard-charts.col-sm-12
    .jumbotron
      %hi.display-4 Big fuck off chart

.row
  .col-sm-12
    %h3.mt-2 All Messages

    %ul.list-group
      - if @messages.empty?
        %li.list-group-item
          Nothing here yet!
      - else
        - @messages.order(created_at: :desc).each do |m|
          = render m