%h1 Dashboard
%hr

.row
  #dashboard-charts.col-sm-12
    .jumbotron
      %hi.display-4 Big fuck off chart

.row
  .col-sm-12
    %h3.mt-2 All Messages

    %ul.list-group
      - if @messages.empty?
        %li.list-group-item
          Nothing here yet!
      - else
        - @messages.order(created_at: :desc).each do |m|
          = render m



#new-profile-modal.modal{tabindex: "-1", role: 'dialog'}
  .modal-dialog{role: "document"}
    .modal-content
      = form_for Profile.new, class: 'form' do |f|
        .modal-header
          %h5.modal-title New Profile
          %button.close{type: 'button', data: {dismiss: 'modal'}}
            %span &times;
        .modal-body
          %label Name your new profile: 
          = f.text_field :name, class: 'form-control'
        .modal-footer
          %button.btn.btn-secondary{data: {dismiss: 'modal'}} Close
          = f.submit 'Create', class: 'btn btn-outline-primary btn-block'