.row
  .col-sm-12
    .jumbotron
      .d-flex.justify-content-center.align-items-center
        .mr-auto.ml-auto
          <iframe width="560" height="315" src="https://www.youtube.com/embed/_WTBkj8gFfI?start=60" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>