.stage
  .block.block-inverse.block-fill-height{style: "background-image: url(#{asset_url('FC-Image-1.jpg')})"}
    .container-fluid.py-4.fixed-top
      = render partial: 'front_navbar'
    #text-block.block-xs-middle.pb-5
      .container-fluid
        .row
          .col-sm-12.col-lg-6
            %h1.block-title= image_tag('FC_Logo_Wht.svg', width: '100%', height: '100%')
