

= render partial: 'application/transparent_nav'

.container
  .jumbotron
    %h1.display-3.my-3 Nope.
    %h2.text-secondary.my-3 Create anonymised email addresses to keep your personal email private.