.block.block-inverse.text-center.block-fill-height
  .block-foreground
    %h1.block-title= image_tag('FC_Logo_Wht.svg', width: '50%', height: '50%')
  .block-background
    = image_tag('FC-Image-1.jpg', width: '100%')