!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Thank You!
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width,initial-scale=1,user-scalable=no", :name => "viewport"}/
    %meta{:content => "Thank You!", :name => "description"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Questrial:400,400italic%7CRoboto:100,100italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fc-carrd-assets.s3-eu-west-2.amazonaws.com/gdpr_main.css", :rel => "stylesheet"}/
    = csrf_meta_tags
    %noscript
      %link{:href => "https://fc-carrd-assets.s3-eu-west-2.amazonaws.com/gdpr_noscript.css", :rel => "stylesheet"}/
  %body.is-loading
    #wrapper
      #main
        .inner
          %h1#text02 Thank You!
          %hr#divider02/
          %p#text01 We'll be in touch when we have any more information. If you'd like to talk to us sooner then feel free to email us at hello@faircustodian.com.
          #image01.image
            %img{:alt => "", :src => "https://fc-carrd-assets.s3-eu-west-2.amazonaws.com/images/gdpr_image01.svg"}/
    %script{:src => "https://fc-carrd-assets.s3-eu-west-2.amazonaws.com/gdpr_main.js"}
