.block.app-price-plans
  .container.text-center
    .row.mb-5.justify-content-center
      .col-10.col-md-8.col-lg-6
        %h6.text-muted.text-uppercase.mb-2 Business Talk
        %h2 No plans. We just bump your plan whenever you need it.
    .row
      .col-md-4.px-4.pb-2.mb-5
        .px-2.mb-2
          %h6.text-muted.text-uppercase.mb-4 Personal
          %img.mb-4{:src => "assets/img/startup-15.svg"}/
          %p.pb-2 Plenty of processing power for any personal projects, big or small.
        %ul.list-unstyled.list-bordered.text-xs-left.my-4
          %li.py-4
            %strong 10k
            monthly requests
          %li.py-4
            %strong 9am-5pm
            technical supprt
          %li.py-4
            %strong Public
            API access
        %button.btn.btn-lg.btn-primary.btn-block
          Start
          %span.d-none.d-xl-inline a personal account
      .col-md-4.px-4.pb-2.mb-5
        .px-2
          %h6.text-muted.text-uppercase.mb-4 Business
          %img.mb-4{:src => "assets/img/startup-16.svg"}/
          %p.pb-2 The perfect sized plan for small businesses to get started.
        %ul.list-unstyled.list-bordered.text-xs-left.my-4
          %li.py-4
            %strong 100k
            monthly requests
          %li.py-4
            %strong 24/7
            technical supprt
          %li.py-4
            %strong Public
            API access
        %button.btn.btn-lg.btn-primary.btn-block
          Start
          %span.d-none.d-xl-inline a business account
      .col-md-4.px-4.pb-1.mb-5
        .px-2
          %h6.text-muted.text-uppercase.mb-4 Corporate
          %img.mb-4{:src => "assets/img/startup-17.svg"}/
          %p.pb-2 An unlimited plan that will scale infinitely to any size project.
        %ul.list-unstyled.list-bordered.text-xs-left.my-4
          %li.py-4
            %strong Unlimited
            monthly requests
          %li.py-4
            %strong 24/7
            technical supprt
          %li.py-4
            %strong Public &amp; Private
            API access
        %button.btn.btn-lg.btn-primary.btn-block
          Start
          %span.d-none.d-xl-inline a corporate account
