@import 'datatables';

.grey-panel {
  background-color: '#333';
  color: '#999';
}

.grey-panel h1,
.grey-panel h2,
.grey-panel h3,
.grey-panel h4,
.grey-panel h5,
.grey-panel h6 {
  color: '#999';
}

.page-link {
	background-color: #fff;
}

.custom-select {
	background-color: #fff;
}
