@import 'marketing/toolkit-minimal.scss';

#home-block {
  background-position: right;
}

#home-block h1 {
  background: -webkit-linear-gradient(#dd005e, #ee5b4a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}