html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}mark{background-color:transparent;color:inherit}input::-moz-focus-inner{border:0;padding:0}input[type="text"],input[type="email"],select,textarea{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	min-height: 100vh;
	line-height: 1.0;
	word-wrap: break-word;
	overflow-x: hidden;
}

u {
	text-decoration: underline;
}

strong {
	color: inherit;
	font-weight: bolder;
}

em {
	font-style: italic;
}

code {
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-weight: normal;
	text-indent: 0;
	letter-spacing: 0;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	background-color: rgba(144,144,144,0.25);
	border-radius: 0.25em;
}

mark {
	background-color: rgba(144,144,144,0.25);
}

a {
	-moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	color: inherit;
	text-decoration: underline;
}

s {
	text-decoration: line-through;
}

body:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	background-image: linear-gradient(to top, rgba(31,31,31,0.851), rgba(31,31,31,0.851)), asset-url('carrd_bg.jpg');
	background-position: 0% 0%, bottom;
	background-repeat: repeat, no-repeat;
	background-size: auto, cover;
	background-attachment: scroll;
	background-color: #FFFFFF;
}

body:after {
	display: block;
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1F1F1F;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	-moz-transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
	-webkit-transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
	-ms-transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
	transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

body.is-loading:after {
	opacity: 1;
	visibility: visible;
}

html {
	font-size: 18pt;
}

#wrapper {
	-webkit-overflow-scrolling: touch;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	min-height: 100vh;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

#main {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	position: relative;
	max-width: 100%;
	z-index: 1;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	text-align: center;
	-moz-transition: opacity 1.5s ease-in-out 0.5s;
	-webkit-transition: opacity 1.5s ease-in-out 0.5s;
	-ms-transition: opacity 1.5s ease-in-out 0.5s;
	transition: opacity 1.5s ease-in-out 0.5s;
}

#main > .inner {
	position: relative;
	z-index: 1;
	border-radius: inherit;
	padding: 3.75rem 3rem;
	max-width: 100%;
	width: 40rem;
}

#main > .inner > * {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

#main > .inner > :first-child {
	margin-top: 0 !important;
}

#main > .inner > :last-child {
	margin-bottom: 0 !important;
}

#main > .inner > .full {
	margin-left: calc(-3rem);
	width: calc(100% + 6rem + 0.4725px);
	max-width: calc(100% + 6rem + 0.4725px);
}

#main > .inner > .full:first-child {
	margin-top: -3.75rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main > .inner > .full:last-child {
	margin-bottom: -3.75rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#main > .inner > .full.screen {
	width: 100vw;
	max-width: 100vw;
	position: relative;
	border-radius: 0 !important;
	left: 50%;
	right: auto;
	margin-left: -50vw;
}

body.is-loading #main {
	opacity: 0;
}

h1 br + br, h2 br + br, h3 br + br, p br + br {
	display: block;
	content: ' ';
}

h1 .li, h2 .li, h3 .li, p .li {
	display: list-item;
	padding-left: 0.5em;
	margin: 0.75em 0 0 1em;
}

#text02 br + br {
	margin-top: 0.9rem;
}

#text02 {
	color: #FFFFFF;
	font-family: 'Questrial', serif;
	font-size: 3em;
	line-height: 1.5;
	font-weight: 400;
}

#text01 br + br {
	margin-top: 1.05rem;
}

#text01 {
	color: #FFFFFF;
	font-family: 'Questrial', serif;
	font-size: 1em;
	line-height: 1.75;
	font-weight: 400;
}

hr {
	width: 100%;
	position: relative;
	padding: 0;
	border: 0;
}

hr:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
}

#divider02 {
	height: 0.5rem;
	line-height: 0.5rem;
}

#divider02:before {
	width: 15%;
	border-top: solid 1px #FFFFFF;
	height: 1px;
}

.buttons {
	cursor: default;
	padding: 0;
	letter-spacing: 0;
}

.buttons li a {
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	max-width: 100%;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	vertical-align: middle;
}

#buttons01 {
	width: calc(100% + 0.75rem);
	margin-left: -0.375rem;
}

#buttons01 li {
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 0.75rem);
	margin: 0.375rem;
}

#buttons01 li a {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: auto;
	height: 2.5rem;
	line-height: 2.5rem;
	vertical-align: middle;
	padding: 0 1.25rem;
	font-size: 1.5em;
	font-family: 'Questrial', serif;
	font-weight: 400;
	border-radius: 0.25rem;
}

#buttons01 .n01 {
	color: #FFFFFF;
	border: solid 1px #42DAB5;
}

#buttons01 .n01:hover {
	color: #42DAB5;
	border-color: #42DAB5;
}

.image {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	display: block;
}

.image a, .image span {
	position: relative;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
}

.image a img, .image span img {
	display: block;
}

.image img {
	width: 100%;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
}

.image.full img {
	display: block;
}

.image.full:first-child img {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.image.full:last-child img {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.image.full a, .image.full span {
	display: block;
}

#image01 {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}

#image01 img {
	width: 10.125rem;
}

@media (max-width: 1680px) {
	html {
		font-size: 13pt;
	}
}

@media (max-width: 1280px) {
	html {
		font-size: 13pt;
	}
}

@media (max-width: 980px) {
	html {
		font-size: 11pt;
	}
}

@media (max-width: 736px) {
	html {
		font-size: 11pt;
	}
	
	#main > .inner {
		padding: 3.5rem 2rem;
	}
	
	#main > .inner > * {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
	
	#main > .inner > .full {
		margin-left: calc(-2rem);
		width: calc(100% + 4rem + 0.4725px);
		max-width: calc(100% + 4rem + 0.4725px);
	}
	
	#main > .inner > .full:first-child {
		margin-top: -3.5rem !important;
	}
	
	#main > .inner > .full:last-child {
		margin-bottom: -3.5rem !important;
	}
	
	#main > .inner > .full.screen {
		margin-left: -50vw;
	}
	
	#text02 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 3em;
		line-height: 1.5;
	}
	
	#text01 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1em;
		line-height: 1.75;
	}
	
	#divider02 {
		height: 0.5rem;
		line-height: 0.5rem;
	}
	
	#image01 {
		margin-top: 1.5rem !important;
		margin-bottom: 1.5rem !important;
	}
	
	#image01 img {
		width: 10.125rem;
	}
}

@media (max-width: 480px) {
	#main > .inner > * {
		margin-top: 1.3125rem;
		margin-bottom: 1.3125rem;
	}
	
	#buttons01 {
		margin-left: 0;
		width: 100%;
		padding: 0.375rem 0;
	}
	
	#buttons01 li {
		max-width: 100%;
		display: block;
		margin: 0.75rem 0;
	}
	
	#buttons01 li:first-child {
		margin-top: 0;
	}
	
	#buttons01 li:last-child {
		margin-bottom: 0;
	}
	
	#buttons01 li a {
		display: -moz-inline-flex;
		display: -webkit-inline-flex;
		display: -ms-inline-flex;
		display: inline-flex;
		width: 100%;
		max-width: 32rem;
	}
}

@media (max-width: 360px) {
	#main > .inner {
		padding: 2.625rem 1.5rem;
	}
	
	#main > .inner > * {
		margin-top: 1.125rem;
		margin-bottom: 1.125rem;
	}
	
	#main > .inner > .full {
		margin-left: calc(-1.5rem);
		width: calc(100% + 3rem + 0.4725px);
		max-width: calc(100% + 3rem + 0.4725px);
	}
	
	#main > .inner > .full:first-child {
		margin-top: -2.625rem !important;
	}
	
	#main > .inner > .full:last-child {
		margin-bottom: -2.625rem !important;
	}
	
	#main > .inner > .full.screen {
		margin-left: -50vw;
	}
	
	#text02 {
		font-size: 2em;
	}
	
	#text01 {
		font-size: 1em;
	}
	
	#buttons01 {
		width: calc(100% + 0.5625rem);
		margin-left: -0.28125rem;
		width: 100%;
		margin-left: 0;
		padding: 0.28125rem 0;
	}
	
	#buttons01 li {
		max-width: calc(100% - 0.5625rem);
		margin: 0.28125rem;
		max-width: 100%;
		margin: 0.5625rem 0;
	}
}