// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#text-block {
	vertical-align: middle;
}

#home-block {
  background-repeat: no-repeat;
  background-position: right top;
}

.front-nav {
  font-size: 18px;
  font-weight: bold;
}

#dashboard {
	min-height: 600px;
}

#page {
	min-height: 600px;
}

#login-block {
	background-color: #050505;
}
