.block.block-inverse
  .container-fluid
    .row
      .col-sm-5
        %address
          %ul.list-unstyled.list-spaced.my-5
            %li.mb-3
              %h6.text-uppercase
                Address
            %li Fair Custodian Ltd
            %li Office 0.09
            %li PROTO: The New Emerging Technology Centre
            %li Abott's Hill
            %li Gateshead
            %li NE8 3DF
            %li Company Number: 11609558
      .col-sm-3.offset-sm-4
        %ul.list-unstyled.list-spaced.my-5
          %li.mb-3
            %h6.text-uppercase
              Links
          %li= link_to 'Blog', '#'
          %li= link_to 'Privacy Policy', privacy_path
        %ul.list-unstyled.list-spaced
          %li.mb-3
            %h6.text-uppercase
              Social
          
    .text-center.text-muted
      &copy; Fair Custodian Ltd 2018
          