.block.block-inverse
  .container-fluid
    .row
      .col-sm-5
        %address
          %ul.list-unstyled.list-spaced
            %li
              %h6.text-uppercase
                Address
            %li Fair Custodian Ltd
            %li Office 0.09
            %li PROTO: The New Emerging Technology Centre
            %li Abott's Hill
            %li Gateshead
            %li NE8 3DF
            %li Company Number: 11609558
          
    .text-center.text-muted
      &copy; Fair Custodian Ltd 2018 |&nbsp; 
      = link_to 'Privacy Policy', privacy_path
          