.container.p-3
  .col-sm-10.offset-sm-1.col-md-6.offset-md-3.text-center
    %ul.list-inline
      %li.list-inline-item
        = link_to 'Terms and Conditions', 'https://beta.faircustodian.com/terms'
      %li.list-inline-item
        = link_to 'Privacy Policy', 'https://www.faircustodian.com/privacy'
    .text-muted
      &copy; Fair Custodian Ltd 2019
