= form_tag charges_path do
  %article
    - if flash[:error].present?
      #error_explantation
        %p=flash[:error]

    %label.amount
      %span
        Amount: £5.00
  
  %script.stripe-button{src: "https://checkout.stripe.com/checkout.js", data: {key: Rails.configuration.stripe[:publishable_key], description: "A month's subscription", amount: "500", locale: 'auto'}}