.row
  .col-sm-8
    %pre= pp @account.to_json
  .col-sm-4
    %ul.list-group
      %li.list-group-header
        %h4 Users
      - @account.users.each do |user|
        %li.list-group-item
          = link_to user.email, user